.bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
}

.p-4{
    background: transparent;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media only screen and (max-width: 1025px) {
    .bg{
        height: auto;
        width: 100%;
    }

    .mxBottom{
        padding-bottom: 10em;
    }
}